<div class="container col-md-8">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <label for="EndingDate">Choose First Country: </label>
            <select class="form-control" name="country" #FirstCountry id="country">
                <option *ngFor="let item of countries" [value]="item">
                    {{item}}
                </option>
            </select>
        </li>
        <li class="nav-item">

            <label for="EndingDate">Choose Seconf Country: </label>

            <select class="form-control" name="country" #SecondCountry id="country">
                <option *ngFor="let item of countries" [value]="item">
                    {{item}}
                </option>
            </select>
        </li>
        <li class="nav-item">
            <label for="StartingDate">Starting Date : </label>
            <input class="form-control" type="date" #dateStart name="date" id="date">
        </li>

        <li class="nav-item">
            <label for="EndingDate">Ending Date : </label>
            <input class="form-control" type="date" #dateEnd name="date" id="date">
        </li>
        <li class="nav-item ">  
            <br>
            <button class="btn btn-success"
                (click)="selectCountry(FirstCountry.value,SecondCountry.value,dateStart.value,dateEnd.value)">Search</button>
        </li>
    </ul>

</div>

<div class="container">
    <div style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
    </div>
</div>
 


  <div class="container" style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions" 
                [chartType]="lineChartType" ></canvas>
    </div>